<h1>Hi <%= @book.current_reader.name %>!</h1>

<p>
  We want to remind you that you have <strong>4 days left</strong> to return <strong>"<%= @book.title %>"</strong>.
</p>
<p>
    <strong>Enjoy your reading and see you soon! :)</strong>
</p>
<p>
    The Libary Team.
</p>