<div class="text-center">
  <h1 class="headline">Welcome in LibaryApp!</h1>
  <h2>Please login:</h2>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
    <%= link_to 'Login with Google', '/auth/google', class: "btn btn-default btn-lg" %>
  </div>
  <div style="height: 100px"></div>
</div>