<% if view_style == :card %>
<div class="row" style="margin-bottom: 50px">
    <% n = 0 %>
    <% books.each do |book| %>
        <% n += 1 %>
        <%= render book, view_style: :card, show_button: show_button, per_row: per_row %>
        <% if n%per_row == 0 %><div class="clearfix visible-md-block visible-lg-block"></div><% end %>
        <% if n%(per_row/2) == 0 %><div class="clearfix visible-sm-block"></div><% end %>
    <% end %>
</div>
<% elsif view_style == :panel %>
    <%= render books %>
<% end %>