
<% view_style ||= :panel         # default view is panel style %>
<% per_row    ||= 4              # there are 4 book in one row by default %>

<% if view_style == :panel %>
<div class="panel panel-default">
  <div class="panel-body">
    
    <div class="row">
      <div class="col-md-1">
        <%= link_to image_tag(book.cover_image_url, alt: book.title, width: '50px', style: "float:left; margin-right:10px"), book_path(book) %>
      </div>
      <div class="col-md-2">
        <strong>Title</strong><br>
        <%= link_to book.title, book_path(book) %>
      </div>
      <div class="col-md-1">
        <strong>Author</strong><br>
        <%= book.author %>
      </div>
      <div class="col-md-7">
        <strong>Description</strong><br>
        <%= truncate book.description, length: 200 %> <%= link_to "Show more", book_path(book) %>
      </div>
      <div class="col-md-1">
        <% if book.available? %>
              <%= form_tag book_path(book), method: :put do %>
                <%= submit_tag 'Borrow', class: 'btn btn-primary btn-sm' %>
              <% end %>
            <% elsif book.current_reader == current_user %>
              <%= form_tag book_path(book), method: :put do %>
                <%= submit_tag 'Return', class: 'btn btn-primary btn-sm' %>
              <% end %>
            <% else %>
              <span class="label label-warning">Not available</span>
            <% end %>
      </div>
    </div>
    
  </div>
</div>

<% elsif view_style == :card %>
    <div class="col-md-<%= 12/per_row %> col-sm-<%= 24/per_row %>" style="padding: 5px; position: relative;">
        <%= link_to image_tag(book.cover_image_url, alt: book.title, class: "img-responsive", width: "100%", height: "100%", title: "#{book.author} - #{book.title}"), book_path(book)%>
        <% if show_button %>
          <div style="position: absolute; bottom: 30px; right: 30px">
          <%= form_tag book_path(book), method: :put do %>
              <%= submit_tag 'Return', class: 'btn btn-primary btn-lg btn-shadow' %>
          <% end %>
          </div>
        <% end %>
    </div>
<% end %>