<% unless @book.id %>
  <%= form_tag new_book_path, method: 'get', class: 'form-inline' do %>
    <strong style="font-size: 20px">Add link to book on lubimyczytac.pl</strong>
    <div class="form-group form-group-sm">
      <%= text_field_tag :book_url, "", class: 'form-control', placeholder: "http://lubimyczytac.pl/ksiazka/00000/example-book", style: "width: 500px" %>
    </div>
    <%= button_tag 'Get details', name: nil, class: 'btn btn-primary' %>
  <% end %>
  <strong style="font-size: 20px;">...or fill the form</strong>
<% end %>


<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>
  
  <% if @book.temporary_cover_image_url %>
    <%= f.hidden_field :temporary_cover_image_url, value: @book.temporary_cover_image_url %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
            
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>
            
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <% if @book.temporary_cover_image_url %>
    <%= image_tag @book.temporary_cover_image_url, alt: @book.title, height: "70px", class: "thumbnail" %>
  <% else %>
  <div class="form-group">
    <%= f.label :cover_image_url, 'Add book image' %>
    <%= f.file_field :cover_image_url %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
