<% if @books.any? %>

  <% if @borrowed_books.any? %>
    <h1 class="headline">You borrowed <%= pluralize(@borrowed_books.count, 'book') %></h1>
    <%= render 'books_list', books: @borrowed_books, per_row: 4, view_style: :card, show_button: true %>
  <% end %>

  <% if @available_books.any? %>
    <h1 class="headline">Available Books</h1>
    <%= render 'books_list', books: @available_books, view_style: :panel %>
  <% else %>
    <h1 class="headline">No available books <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
  <% end %>

  <h1 class="headline">All Books</h1>
  <%= render 'books_list', books: @books, per_row: 6, view_style: :card, show_button: false %>
  
<% else %>
  <h1 class="headline">No books in libary <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
  <div class="text-center">
    <%= link_to 'Add first book!', new_book_path, class: "btn btn-success btn-lg" %>
  </div>
<% end %>
<div class="clearfix"></div>