<div class='row'>
    <div class="col-md-offset-2 col-md-8">
        <%= link_to "Back", :back %>
        <h1>New Book</h1>
        <div class='panel panel-default'>
          <div class="panel-body">
              <%= render 'form', book: @book %>
          </div>
        </div>
    </div>
</div>