<div class='row'>
    <div class="col-md-offset-2 col-md-8">
        <%= link_to "Back", books_path %>
        <div class='row book-card'>
            <div class="book-cover">
              <%= image_tag @book.cover_image_url, alt: @book.title, width: '300px' %>
            </div>
            <div class="book-overview">
                <div class='book-title'>
                     <%= @book.title %>
                </div>
                <div class='book-author'><%= @book.author %></div>
                <hr/>
                <div class='book-description'>
                    <%= @book.description %>
                </div>
                <% if @book.user == current_user %>
                    <div class="book-created-by">Added by: You | 
                    <%= link_to 'Edit', edit_book_path(@book) %> | 
                    <%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                <% else %>
                    <div class="book-created-by">Added by: <%= @book.user.name %></div>
                <% end %>
            </div>
        </div>
        <div class="pull-right" style="margin-top: 20px">
            <% if @book.available? %>
                <%= form_tag book_path(@book), method: :put do %>
                    <%= submit_tag 'Borrow', class: 'btn btn-success btn-lg' %>
                <% end %>
            <% elsif @book.current_reader == current_user %>
                <%= form_tag book_path(@book), method: :put do %> 
                    <%= submit_tag 'Return', class: 'btn btn-primary btn-lg' %>
                <% end %>
            <% else %>
               <strong class="label label-warning"><%= @book.current_reader.name %> have this book currently.</strong> 
            <% end %>
        </div>
        <div class="clearfix"></div>
        <h2 style="margin-top: 40px;">Book borrow history</h2>
        <div class='book-history-container'>
            <table class="table">
                <thead>
                    <tr>
                      <th>Borrow Date</th>
                      <th>Return Date</th>
                      <th>Person</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% @book_events.each do |event| %>
                    <tr>
                        <td><%= event.borrow_date %></td>
                        <td><%= event.return_date ? event.return_date : "Currently borrowed" %></td>
                        <td><%= event.user.name %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <%= will_paginate @book_events %>
        </div>
    </div>   
</div> 