@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Overpass:100,400,600');
@import "font-awesome-sprockets";
@import "font-awesome";


body {
    font-family: 'Overpass', sans-serif;
    padding-top: 80px;
    background: image-url("book-bg-blured.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.img-user-avatar {
    margin-top: 5px;
}

// BOOK CARDS

.book-card {
    background-color: rgba(255, 255, 255, 0.8);
    width: 780px;
    position: relative;
    .book-cover {
        float: left;
        padding: 0;
        width: 300px;
    }
    
    .book-overview {
        padding: 20px 20px 20px 320px;
        
        .book-title {
            font-size: 24px;
            font-style: italic;
            font-weight: 100;
        }
        
        .book-author {
            font-size: 12px;
        }
        .book-description {
            padding-left: 10px;
            font-size: 14;
        }
        .book-created-by {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}


.book-index-item {
    margin-left: 65px;
    td {
        padding-right: 10px;
    }
}

.book-history-container {
    background-color: rgba(255, 255, 255, 0.7);

    thead {
        background-color: rgba(255, 255, 255, 1);
    }
}

.pagination {
    margin-top: 5px;
}

.btn-shadow {
    -webkit-box-shadow: 0px 0px 48px 14px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 48px 14px rgba(0,0,0,1);
    box-shadow: 0px 0px 48px 14px rgba(0,0,0,1);

}

.headline {
    @extend .text-center;
    color: #eee;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer {
    
    @extend .text-right;
    margin-top: 30px;
    padding: 10px;
    color: white;
    border-top: solid 1px rgba(100,0,0,0.5);
}