<header role="banner">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Libary app", root_path, class: "navbar-brand" %> 
            </div>
            <% if current_user %>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Books", books_path %></li>
                    <li><%= link_to 'Add Book', new_book_path %></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                      <li><%= image_tag current_user.image_url, alt: current_user.name, class: "img-circle img-user-avatar" %></li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <%= current_user.name %>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
                        </ul>
                      </li>
                </ul>
            </div>
            <% else %>
                <ul class="nav navbar-nav pull-right">
                    <li><%= link_to 'Login with Google', '/auth/google' %></li>
                </ul>
            <% end %>
        </div> 
    </nav>
</header>